.App {
  min-height: 100vh;
  background-image: url("./components/pina-messina-Oc3fP0FXJbU-unsplash.jpg");
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 50%;
  border: none;
  padding: 10px;
  border-radius: 20px;
}

.search-button {
  background: aqua;
  border: none;
  padding: 10px 20px;
  color: black;
  border-radius: 20px;
  font-style: oblique;
  margin : 20px;
}

.recipes {
display: flex;
justify-content: space-around;
flex-wrap: wrap;}